<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs") %>

  <body>
    <%-include("./partials/nav.ejs") %>

    <div class="blogs content">
      <h1>404 Page</h1>
      <p>
        page not found Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Fuga nostrum neque tempora cum quod excepturi hic minus. Laboriosam,
        debitis totam. Dolorem consequuntur est ea, ducimus sapiente officiis
        saepe aspernatur officia.
      </p>
    </div>
    <%-include("./partials/footer.ejs") %>
  </body>
</html>
