<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs") %>

  <body>
    <%-include("./partials/nav.ejs") %>

    <div class="blogs content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
        suscipit aliquam, et voluptate est tempore natus odit ex laudantium
        laboriosam consequuntur facere libero nisi possimus minus, hic sapiente?
        Consequatur, eaque.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
        suscipit aliquam, et voluptate est tempore natus odit ex laudantium
        laboriosam consequuntur facere libero nisi possimus minus, hic sapiente?
        Consequatur, eaque.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
        suscipit aliquam, et voluptate est tempore natus odit ex laudantium
        laboriosam consequuntur facere libero nisi possimus minus, hic sapiente?
        Consequatur, eaque.
      </p>
    </div>
    <%-include("./partials/footer.ejs") %>
  </body>
</html>
