<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/">HomePage</a>
      <a href="/about">About Page</a>
    </nav>
    <h1>Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga nostrum
      neque tempora cum quod excepturi hic minus. Laboriosam, debitis totam.
      Dolorem consequuntur est ea, ducimus sapiente officiis saepe aspernatur
      officia.
    </p>
  </body>
</html>
